﻿@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.bg {
	background-image: url('http://www.quickfileupload.com/wp-content/uploads/2018/09/black-and-green-wallpaper-hex-green-turnip-stew-on-deviantart-hd-themes-for-windows-10.jpg')
}

input {
	font-family: 'Permanent Marker', cursive;
}

.form-control {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 1px rgba(255, 100, 255, 0.5);
	
	background: lightgray;
}


label {
	color: white;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size:10vw;
}
.form-group{
	border-color:transparent;
	width: 25%;
	height: 60%;
	margin: 5% auto;
}

.alert-danger {
	color: red;
	background: transparent; 
}

.alert-success {
	color: lawngreen;
	background: transparent;
}

.btn-block {

	margin: auto;
}
.list-group {
	width: 50%;
	height: 500px;
	left: 25%;
	margin:auto;
	
	overflow:scroll;
	font-family: cursive;
	background-color: cornsilk;
}
.input-validation-error {
	border-color: red;
}

::-webkit-input-placeholder {
	color: #666;
} 
:-moz-placeholder { color: #666; }
::-moz-placeholder { color: #666; }
:-ms-input-placeholder { color: #666; }

