<div *ngIf="editMode == false">
  <div class="success-error">
      {{ deleteUserErrorMessage }}
    </div>
    <div class="success-success">
      {{ deleteUserMessage }}
    </div>
  <table mat-table [dataSource]="Users">
      <ng-container matColumnDef="userFirstName">
          <th mat-header-cell *matHeaderCellDef> First Name </th>
          <td mat-cell *matCellDef="let user"> {{user.name}} </td>
      </ng-container>
      <ng-container matColumnDef="userSurname">
          <th mat-header-cell *matHeaderCellDef> Last Name </th>
          <td mat-cell *matCellDef="let user"> {{user.surname}} </td>
      </ng-container>
      <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let user"> {{user.id}} </td>
      </ng-container>
      <ng-container matColumnDef="userDateOfBirth">
          <th mat-header-cell *matHeaderCellDef> Date Of Birth </th>
          <td mat-cell *matCellDef="let user"> {{user.dateOfBirth}} </td>
      </ng-container>
      <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Edit </th>
          <td mat-cell *matCellDef="let user">
            <button mat-raised-button color="accent" (click)="editUser(user)">Edit</button>
          </td>
      </ng-container>
      <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let user">
            <button mat-raised-button color="warn" (click)="deleteUser(user)">Delete</button>
          </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
  <div style="height:50px;"></div>
</div>

<div *ngIf="editMode == true">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Edit User</mat-card-title>
        </mat-card-header>

            <mat-card-content>
            <div class="success-error">
              {{ errorMessage }}
            </div>
            <div class="success-success">
              {{ successMessage }}
            </div>
            <!-- put the form here -->
            <form>
                <mat-form-field>
                  <mat-label>First Name</mat-label>
                  <input  matInput  placeholder="First Name"  [(ngModel)]="userToEdit.name" name="firstName" required>
                </mat-form-field>
                <div class="response-errors" *ngIf="serverResponse?.success == false">
                  {{ serverResponse?.errors['FirstName'] }}
                </div>
                <mat-form-field>
                    <mat-label>Surname</mat-label>
                    <input [(ngModel)]="userToEdit.surname" placeholder="Surname" matInput name="surname" required>
                </mat-form-field>
                <div class="response-errors" *ngIf="serverResponse?.success == false">
                    {{ serverResponse?.errors['Surname'] }}
                </div>
                <mat-form-field>
                    <mat-label>ID</mat-label>
                    <input [(ngModel)]="userToEdit.id" placeholder="ID" matInput name="id" required>
                </mat-form-field>
                <div class="response-errors" *ngIf="serverResponse?.success == false">
                    {{ serverResponse?.errors['ID'] }}
                </div>
                <mat-form-field>
                    <mat-label>Date Of Birth</mat-label>
                    <input  name="date" matInput [matDatepicker]="myPicker"  placeholder="Date Of Birth" [(ngModel)]="convertedDate">
                    <mat-datepicker-toggle  matSuffix [for]="myPicker"></mat-datepicker-toggle>
                    <mat-datepicker #myPicker></mat-datepicker>
                </mat-form-field>
                <div class="response-errors" *ngIf="serverResponse?.success == false">
                    {{ serverResponse?.errors['DateOfBirth'] }}
                </div>
            </form>
            </mat-card-content>
            <mat-card-actions>
            <!-- put buttons here -->
              <button  mat-raised-button style="float:left;width:40%;" (click)="submitEditUser()"  color="primary">Edit User</button>
              <button  mat-raised-button style="float:right;width:40%;" (click)="goBack()"  color="accent">Go Back</button>
            </mat-card-actions>
        </mat-card>
</div>


