table {
  position: relative;
  width: 90%;
  margin: auto;
  margin-top: 5%;
}

ng-container {
  text-overflow: auto;
}

button {
  width: 50%;
  height: 50%;
}

.mat-card {
  position: relative;
  width: 50%;
  margin: auto;
  margin-top: 5%;
}

.mat-form-field {
  margin: auto;
  width: 100%;
}

.response-errors {
  margin: 2px;
  color: red;
  padding: 0;
}
