<mat-card>
  <mat-card-header>
      <mat-card-title>Insert New User</mat-card-title>
  </mat-card-header>

      <mat-card-content>
      <div class="success-error">
        {{ errorMessage }}
      </div>
      <div class="success-success">
        {{ successMessage }}
      </div>
      <!-- put the form here -->
      <form>
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input  matInput  placeholder="First Name"  [(ngModel)]="firstName"  name="firstName"  required>
          </mat-form-field>
          <div class="response-errors" *ngIf="serverResponse?.success == false">
            {{ serverResponse?.errors['FirstName'] }}
          </div>
          <mat-form-field>
              <mat-label>Surname</mat-label>
              <input [(ngModel)]="surname" placeholder="Surname" matInput name="surname" required>
          </mat-form-field>
          <div class="response-errors" *ngIf="serverResponse?.success == false">
              {{ serverResponse?.errors['Surname'] }}
          </div>
          <mat-form-field>
              <mat-label>ID</mat-label>
              <input [(ngModel)]="id" placeholder="ID" matInput name="id" required>
          </mat-form-field>
          <div class="response-errors" *ngIf="serverResponse?.success == false">
              {{ serverResponse?.errors['ID'] }}
          </div>
          <mat-form-field>
              <mat-label>Date Of Birth</mat-label>
              <input  name="date" matInput [matDatepicker]="myPicker"  placeholder="Date Of Birth" [(ngModel)]="dateOfBirth">
              <mat-datepicker-toggle  matSuffix [for]="myPicker"></mat-datepicker-toggle>
              <mat-datepicker #myPicker></mat-datepicker>
          </mat-form-field>
          <div class="response-errors" *ngIf="serverResponse?.success == false">
              {{ serverResponse?.errors['DateOfBirth'] }}
          </div>
      </form>
      </mat-card-content>
      <mat-card-actions>
      <!-- put buttons here -->
        <button  mat-raised-button (click)="insertNewUser()"  color="primary">Insert User</button>
      </mat-card-actions>
  </mat-card>
