/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #EEE}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success-error {
  margin-top: 10px;
  color: red;
  text-align: center;
  size: 1.2em;
}

.success-success {
  margin-top: 10px;
  color: #00BB10;
  text-align: center;
  size: 1.2em;
}
