﻿<html>

<h1 align="center"style="color: ghostwhite">Capture Info</h1>
<h2 align="center" style="color: ghostwhite">Infomation</h2>
<body>

	<div class="list-group">
		@Html.Raw(ViewBag.TextResult)
	</div>
<div class="btn-block"align="center">
		<br/>
		<input class="form-control" type="button" value="Back" onclick="location.href = '@Url.Action("Index", "Home")'"/>
	</div>

</body>
</html>


