﻿@model Capture_Info.Model.UserInfoModel


@{
	ViewBag.Title = "Home Page";
}
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="../../Scripts/Validate.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js">
</script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


<h1 align="center" style="color: ghostwhite">Capture Info</h1>
<form asp-action="Index" asp-controller="Home" method="post" class="form-group" id="myForm" name="form">
	<div class="alert-success">
		@ViewBag.Success
	</div>
	<div class="alert-danger">
		@ViewBag.Errorform
	</div>
	<label asp-for="name">Name :</label><br />
	<input class="form-control" asp-for="name" id="txtName" name="Name" value="@ViewBag.tempName" placeholder="Enter your first name" />
		@if (@ViewBag.ErrorName != null)
	{<p class="alert-danger">@ViewBag.ErrorMessageName</p>}
	<br />
	<label asp-for="surname">Surname :</label><br />
	<input class="form-control" asp-for="surname" name="Surname" id="txtSurname" value="@ViewBag.tempSurname" placeholder="Enter your surname" />
		@if (@ViewBag.ErrorSurname != null)
	{<p class="alert-danger">@ViewBag.ErrorMessageSurname</p>}
	<br />
	<label asp-for="id">ID :</label><br />
	<input class="form-control" asp-for="id" name="ID" id="txtID" value="@ViewBag.tempId" placeholder="Enter your ID number" />
		@if (@ViewBag.ErrorId != null)
	{<p class="alert-danger">@ViewBag.ErrorMessageId</p>}
	<br />
	<label asp-for="dateOfBirth">Date of Birth :</label><br />
	<input class="form-control" asp-for="dateOfBirth" name="Dateofbirth" id="txtDate" value="@ViewBag.tempDateofbirth" placeholder="Enter your Date Of Birth" />
		@if (@ViewBag.ErrorDateofbirth != null)
	{<p class="alert-danger">@ViewBag.ErrorMessageDateofbirth</p>}
	<br />
	<input id="submitButton" class="form-control" type="submit" value="Submit" />
	<br />
	<input class="form-control" type="button" value="Display Information" onclick="location.href = '@Url.Action("DisplayText", "Home")'" />
</form>

<div id="Information">

</div>