<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="">Capture Info</a>
    <span class="fill-gap"></span>
    <span><a routerLink="insert" routerLinkActive="active">Insert</a></span>
    <span><a routerLink="display" routerLinkActive="active">Display</a></span>
  </mat-toolbar-row>
</mat-toolbar>
